* {
    margin: 0;
    padding: 0;
  /*background-color: #f8f8f8;*/
  }

  
  .frame{
    width: 320px;
    height: 640px;
    box-shadow: 6px 6px 30px #d1d9e6;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #3092D9, #F856E7);
    /*background-color: #f8f8f8;*/
    box-sizing: border-box;
    overflow: hidden;
   

  }
  

  .top-bar{
    width: 180px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    border-radius: 0px 0px 20px 20px;
  }

  .logo{
      margin-top: 35%;
      margin-left: 33px;
      border-radius: 10px;
  



  }




  